<template>
  <span class="btn" @click="emit('click')">
    <slot></slot>
  </span>
</template>

<script setup lang="ts">
const emit = defineEmits(['click'])
</script>

<style scoped>
.btn {
  display: flex;
  cursor: pointer;
  align-items: center; /* Ensures vertical alignment */
  margin-right: 0.5em;
  background-color: inherit; /* Subtle background color */
  padding: 0px 8px; /* Add padding for better button sizing, adjust as needed */
  border-radius: 4px; /* Optional: adds rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
  border: 1px solid;
  min-height: 34px;
}

.btn a {
  text-decoration: none;
  color: inherit; /* Use the parent's text color */
  font-weight: normal;
  border-bottom: none;
  font-size: 0.8em;
}

.btn:hover {
  background-color: #007bff; /* Actionable background color on hover */
  color: #ffffff; /* Adjust text color on hover for better readability */
}
.logo {
  height: 1em; /* Controls the size of the logo to fit the button's height */
  width: auto;
  margin-right: 8px; /* Adds some spacing between the logo and the text */
}
</style>
