<script setup lang="ts">
import {DoiLinkStyles, useFormat} from "../composables/useDoiLinkFormat.ts";

const { format } = useFormat();
</script>

<template>
<div v-if="format === DoiLinkStyles.Original">
  <h2>The current, 2017 DOI Display Guidelines</h2>
  <p>The current DOI display style with no changes. Screen readers will announce the full DOI URI.</p>
</div>
<div v-if="format === DoiLinkStyles.SrTitleLinkFirst">
  <h2>The proposed DOI Display Guidelines</h2>
  <p>This proposed DOI display style which inserts a visually hidden link with the link text set to the title of the linked work before the existing one. Screen readers will announce this first, and then the full DOI URI.</p>
  <p>This feels like the best combination of removing the most annoying part of the Screen Reader experience (having only the DOI URI announced) while not breaking any ARIA conventions, nor affecting the experience for users of voice command.</p>
</div>
<div v-if="format === DoiLinkStyles.TitleAsAriaLabel">
  <h2>The rejected DOI Display Guidelines</h2>
  <p>This rejected DOI display style which inserts a `aria-label` set to the title of the linked work into the link, which causes screen readers to announce only the title. This seems appealing at first glance, but breaks ARIA accessibility conventions, creating a miss-match between the visible text and accessible name, which affects the experience for users of voice command.</p>
</div>
</template>

<style scoped>

</style>