<template>
  <Modal v-if="showModal" @close="showModal = false" :doiDetails="doiDetails" />
  <DOIModal v-if="showModal" @close="showModal = false" :doiDetails="doiDetails" />
  <Button  @click="showModal = true"><img src="../assets/crossref-logo-icon-only.svg" alt="Crossref" class="logo">
    <a class="text" v-if="text">{{ text }}</a></Button>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import Modal from './Modal.vue';
import Button from "./Button.vue";
import DOIModal from "./DOIModal.vue";
defineProps<{text :string}>();
// Example DOI details, you can adjust this structure as needed
const doiDetails = ref({
  doi: 'https://doi.org/10.32013/12345678-23',
  title: "Example DOI Title",
  authors: [
    { name: "Jane Doe", orcid: "0000-0001-5109-3700" },
    { name: "John Smith", orcid: "0000-0002-1825-0097" }
  ],
  fullTextLinks: [
    { url: "https://example.com/fulltext1", title: "Full Text Link 1" },
    { url: "https://example.com/fulltext2", title: "Full Text Link 2" }
  ]
});

const showModal = ref(false);
</script>

<style scoped>


.btn a {
  text-decoration: none;
  color: inherit; /* Use the parent's text color */
  font-weight: normal;
  border-bottom: none;
  font-size: 0.8em;
}

.btn:hover {
  background-color: #007bff; /* Actionable background color on hover */
  color: #ffffff; /* Adjust text color on hover for better readability */
}
.logo {
  height: 1em; /* Controls the size of the logo to fit the button's height */
  width: auto;
}
.text {
  margin-left: 8px; /* Adds some spacing between the logo and the text */

}
</style>
