<template>
  <a :href="doi" target="_blank" rel="noopener noreferrer" :aria-label="displayText">{{ doi }}</a>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';

const props = defineProps({
  doi: {
    type: String,
    required: true,
  },
  displayText: {
    type: String,
    default: (props) => props.doi,
  },
});
</script>
