<script setup lang="ts">
import DOILink from "./DOILink.vue";
import {defineProps} from "vue";
import DOILinkSR from "./DOILinkSR.vue";
import DOIButton from "./DOIButton.vue";
defineProps({
  doi: {
    type: String,
    required: true,
  },
  displayText: {
    type: String,
    default: (props) => props.doi,
  },
});
</script>

<template>
  <DOIButton></DOIButton>
  <DOILinkSR :doi="doi" :display-text="displayText"/>
  <DOILink :doi="doi" />
</template>

<style scoped>

</style>