<script setup lang="ts">
import DOILink from "./DOILink.vue";
import {defineProps} from "vue";
defineProps({
  doi: {
    type: String,
    required: true,
  },
  displayText: {
    type: String,
    default: (props) => props.doi,
  },
});
</script>

<template>
  <DOILink :doi="doi" />
</template>

<style scoped>

</style>