<template>
    <!-- Visually hidden link for screen readers -->
    <a
        :href="doi"
        class="visually-hidden"
        target="_blank"
        rel="noopener noreferrer"
    >{{ displayText }}</a>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';

defineProps({
  doi: {
    type: String,
    required: true,
  },
  displayText: {
    type: String,
    default: (props) => props.doi,
  },
});
</script>

<style scoped>
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
</style>
