<template>
  <select v-model="selectedFormat" @change="updateFormat" class="custom-select">
    <option v-for="(option, index) in options" :key="index" :value="option.value">
      {{ option.text }}
    </option>
  </select>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { DoiLinkStyles, useFormat } from '../composables/useDoiLinkFormat';

const { setFormat } = useFormat();

// Your ResourceLink options
const options = ref([
  { text: 'The current, 2017 DOI Display Guidelines', value: DoiLinkStyles.Original },
  { text: 'The proposed DOI Display Guidelines', value: DoiLinkStyles.SrTitleLinkFirst },
  { text: 'The rejected DOI Display Guidelines', value: DoiLinkStyles.TitleAsAriaLabel },
  { text: 'DOI Context pop-up triggered by RA logo', value: DoiLinkStyles.CrossrefDoiLogo },
  { text: 'DOI Context pop-up triggered by RA DOI button', value: DoiLinkStyles.CrossrefDoiButton },
]);

const selectedFormat = ref(DoiLinkStyles.Original); // Default selection

const updateFormat = () => {
  setFormat(selectedFormat.value);
};
</script>


<style scoped>
.custom-select {
  width: 100%; /* Full width */
  padding: 12px 20px; /* Larger padding */
  font-size: 1em; /* Bigger text */
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box; /* Adjust box-sizing to avoid padding adding to width */
  margin-bottom: 1em;
  margin-top: 0.5em;
}
</style>
