<template>
  <div v-if="visible" class="modal-overlay" @click.self="closeModal">
    <div class="modal-content">
      <h2>{{ title }}</h2>
      <div class="modal-row">
        {{doiDetails}}
        <img src="../assets/crossref-logo-icon-only.svg" alt="CrossRef" class="logo">
        <span>{{ doi }}</span>
        <div class="resource-links">
          <a v-for="resource in resources" :key="resource.URL" :href="resource.URL">{{ resolveContentType(resource['content-type']) }}</a>
        </div>
      </div>
      <div class="modal-row" v-if="licenses && licenses.length">
        <h3>Licenses</h3>
        <div>
          <a v-for="license in licenses" :key="license.URL" :href="license.URL">
            <img :src="resolveLicenseIcon(license.URL)" alt="License">
          </a>
        </div>
      </div>
      <div class="modal-row" v-if="authors && authors.length">
        <h3>Authors</h3>
        <div>
          <a v-for="author in authors" :key="author.ORCID" :href="author.ORCID">
            <span>{{ author.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    visible: Boolean,
    title: String,
    doi: String,
    licenses: Array,
    authors: Array,
    resources: Array,
  },
  methods: {
    closeModal() {
      this.$emit('update:visible', false);
    },
    resolveContentType(type) {
      const defaultContentTypeLabels = {
        'application/pdf': 'PDF',
        'text/html': 'HTML',
        'text/plain': 'Plain',
        'application/xml': 'XML',
        'text/xml': 'XML',
        'text/csv': 'CSV',
      };
      return defaultContentTypeLabels[type] || type;
    },
    resolveLicenseIcon(url) {
      const defaultLicenseLabels = {
        'http://creativecommons.org/licenses/by/3.0': '@/assets/cc-by.svg',
        'http://creativecommons.org/licenses/by/4.0': '@/assets/cc-by.svg',
      };
      return defaultLicenseLabels[url] || url;
    },
  },
};
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.logo {
  height: 20px;
  margin-right: 8px;
}

.resource-links a {
  margin-right: 8px;
}
</style>
