<template>
  <h3 v-if="rawHtml">Example HTML</h3>
  <div v-if="rawHtml">
    <pre class="language-html"><code v-html="highlightedHtml"></code></pre>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import Prism from 'prismjs';
// Import the theme of your choice
import 'prismjs/themes/prism-tomorrow.css';
// Import the HTML language support
import 'prismjs/components/prism-markup.min';
import {DoiLinkStyles, useFormat} from "../composables/useDoiLinkFormat";

const { format } = useFormat(); // Assuming useFormat provides a reactive 'format' ref

const rawHtml = computed(() => {
  switch (format.value) {
    case DoiLinkStyles.Original:
      return `<a href="https://doi.org/10.32013/12345678-23">
  https://doi.org/10.32013/12345678-23
</a>`;
    case DoiLinkStyles.SrTitleLinkFirst:
      return `<!-- Visually hidden link for screen readers -->
<a href="https://doi.org/10.32013/12345678-23" class="doi-link--visually-hidden">
Why 'blah blah blah' is the best test data title
</a>
<a href="https://doi.org/10.32013/12345678-23">
https://doi.org/10.32013/12345678-23
</a>

<style>
.doi-link--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
</style>`;
    case DoiLinkStyles.TitleAsAriaLabel:
      return `<a href="https://doi.org/10.32013/12345678-23" aria-label="Why 'blah blah blah' is the best test data title">
https://doi.org/10.32013/12345678-23
</a>`;
    case DoiLinkStyles.CrossrefDoiButton:
      return null;
    case DoiLinkStyles.CrossrefDoiLogo:
      return null;
    default:
      return null; // Default case to handle undefined or unexpected values
  }
});
const highlightedHtml = computed(() => Prism.highlight(rawHtml.value, Prism.languages.html, 'html'));
</script>

<style scoped>
pre {
  background-color: #2d2d2d;
  color: #ccc;
  padding: 1em;
  margin: 0;
  overflow: auto;
  border-radius: 0.3em;
  white-space: pre-wrap; /* Allow soft wrapping */
  word-break: break-word; /* Ensure long URLs don't overflow */
}
</style>
