<script setup lang="ts">
import useDoiLinkComponent from "../composables/useDoiLinkComponent.ts";
import {computed} from "vue";

const props = defineProps<{
  doi: string;
  displayText?: string;
}>();

const displayText = computed(() => props.displayText || props.doi);
const { doiLinkComponent } = useDoiLinkComponent();

</script>

<template>
  <h3>Example DOI Link</h3>
  <div class="page-examples mt-1">
    <div class="extraw">
      <div class="row">
        <div class="column">
          <component :is="doiLinkComponent" :doi="doi" :display-text="displayText"/>
        </div>
      </div>
    </div>
  </div>



</template>

<style scoped>
.column {
  display: flex;
  align-items: center;
}
</style>