<template>
  <footer>
    <div class="tandc row">
      <div class="column">
        Logos provided by <a href="https://clearbit.com">Clearbit</a>
      </div>
      <div class="column">
        <a href="https://www.crossref.org/operations-and-sustainability/privacy/">Crossref Privacy Policy</a>
      </div>
    </div>
    <div class="provided-by row">
      <img src="https://assets.crossref.org/logo/crossref-logo-landscape-200.svg" width="200" height="68" alt="Crossref logo">
    </div>  </footer>
</template>

<script lang="ts">
export default {}
</script>
