<script setup lang="ts">
import {DoiLinkStyles, useFormat} from "../composables/useDoiLinkFormat.ts";

const { format } = useFormat();
</script>

<template>
<div v-if="format === DoiLinkStyles.Original">
  <h2>The current, 2017 DOI Display Guidelines</h2>
</div>
<div v-if="format === DoiLinkStyles.SrTitleLinkFirst">
  <h2>The proposed DOI Display Guidelines</h2>
</div>
<div v-if="format === DoiLinkStyles.TitleAsAriaLabel">
  <h2>The rejected DOI Display Guidelines</h2>
</div>
</template>

<style scoped>

</style>