<template>
  <h3>Example metadata</h3>
  <hr/>
  <div class="page-explanation">
    <div class="extra" style="margin-top: .5em;">
      <div class="row">
        <div class="column">Publication</div>
        <div class="column">{{ publication }}</div>
      </div>
      <div class="row">
        <div class="column">Published</div>
        <div class="column">{{ published }}</div>
      </div>
      <div class="row">
        <div class="column">Authors</div>
        <div class="column">{{ authors }}</div>
      </div>
      <div class="row">
        <div class="column">DOI</div>
        <div class="column">
          <component :is="doiLinkComponent" :doi="doi" :display-text="title"/>

        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import useDoiLinkComponent from '../composables/useDoiLinkComponent';

const props = defineProps({
  publication: String,
  published: String,
  authors: String,
  doi: String,
  title: String,
});

const { doiLinkComponent } = useDoiLinkComponent();

</script>

<style scoped>
.column {
  display: flex;
  align-items: center;
}
</style>
