<template>
  <div class="modal-overlay" @click.self="closeModal">
    <div class="modal-content" style="max-width: 600px;">
      <div class="modal-header">
        <h3 class="popover-title" v-if="title">{{ title }}</h3>
        <button type="button" class="close" @click="closeModal">&times;</button>
      </div>
      <div class="popover-content">
        <p style="font-size:1.2em;">{{ doiDetails.title }}</p>
        <ul class="list-inline pull-right">
          <li v-for="(link, index) in doiDetails.fullTextLinks" :key="index">
            <a :href="link.href">{{ link.title }}</a>
          </li>
        </ul>
        <a :href="doiLink">
          <img src="../assets/crossref-logo-icon-only.svg" style="height:20px; margin-right: 8px;">
          <span>{{ doiDetails.doi }}</span>
        </a>
        <hr>
        <div class="modal-section" style="margin-bottom: 10px">
          <div class="modal-label"><b>Licenses</b></div>
          <div class="modal-value">
            <ul class="list-inline">
              <li v-for="(license, index) in licenses" :key="`license-${index}`">
                <a :href="license.href"><img :src="license.imgSrc"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-section">
          <div class="modal-label"><b>Authors</b></div>
          <div class="modal-value">
            <ul class="list-inline">
              <li v-for="(author, index) in doiDetails.authors" :key="`author-${index}`">
                <a :href="author.orcidLink">
                  <img src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" style="width: 24px; height: 24px;">
                  <span>{{ author.name }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';

const props = defineProps({
  doiDetails: Object,
});

const emit = defineEmits(['close'])

const closeModal = () => {
  emit('close');
};
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-header h3 {
  margin-top: 0;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline;
  margin-right: 5px;
}

.modal-section {
  display: flex;
  margin-top: 20px;
}

.modal-label {
  flex-basis: 20%;
}

.modal-value {
  flex-basis: 80%;
}
</style>
