<template>
  <div>
    <PageHeader><slot name="pageTitle"></slot></PageHeader>
    <hr/>
    <slot></slot> <!-- Content will be injected here -->
    <hr/>
    <Footer />
  </div>
</template>

<script lang="ts">
import PageHeader from './PageHeader.vue'
import Footer from './Footer.vue'

export default {
  components: {
    PageHeader,
    Footer
  },
  props: {
    title: String
  },
}
</script>
