<template>
  <div class="resource-container">
    <ResourceLink
        display-text="The current, 2017 DOI Display Guidelines"
        :doi-link-format="DoiLinkStyles.Original">
    </ResourceLink>
    <ResourceLink
        display-text="The proposed DOI Display Guidelines"
        :doi-link-format="DoiLinkStyles.SrTitleLinkFirst">
    </ResourceLink>
    <ResourceLink
        display-text="The rejected DOI Display Guidelines"
        :doi-link-format="DoiLinkStyles.TitleAsAriaLabel">
    </ResourceLink>
    <ResourceLink
        display-text="DOI Context pop-up triggered by RA logo"
        :doi-link-format="DoiLinkStyles.CrossrefDoiLogo">
    </ResourceLink>
    <ResourceLink
        display-text="DOI Context pop-up triggered by RA DOI button"
        :doi-link-format="DoiLinkStyles.CrossrefDoiButton">
    </ResourceLink>
  </div>
</template>

<script setup lang="ts">
import ResourceLink from './ResourceLink.vue'
import { DoiLinkStyles } from "../composables/useDoiLinkFormat";

// Props are defined with defineProps in <script setup>
const props = defineProps({
  resources: Array,
});

// Since <script setup> automatically exposes variables to the template,
// you can directly use DoiLinkStyles enum in the template without additional steps.
</script>

<style scoped>
</style>
