<template>
  <div class="resource-line">
    <Button @click="setFormat(doiLinkFormat)">
      <img :src="logo" class="resource-logo"/>
      {{ displayText }}
    </Button>
  </div>
</template>

<script setup lang="ts">
import useFormat from "../composables/useDoiLinkFormat.ts";
import Button from "./Button.vue";

// Define your props
const props = defineProps<{
  logo: string;
  URL: string;
  altText: string;
  intendedApplication: string;
  displayText: string;
  doiLinkFormat: number;
}>();

const { format, setFormat } = useFormat();

</script>

<style scoped>
.option {
  max-width: 50%;
}
</style>
