<script setup lang="ts">
import PageLayout from "./components/PageLayout.vue";
import MetaData from "./components/MetaData.vue";
import Explanation from "./components/Explanation.vue";
import ResourceContainer from "./components/ResourceContainer.vue";
import {useDoiData} from "./composables/useDoiData.ts";
import {ref} from "vue";
import DOILinkStyleSelector from "./components/DOILinkStyleSelector.vue";
import Description from "./components/Description.vue";
import ExampleHtml from "./components/ExampleHtml.vue";
import useDoiLinkComponent from './composables/useDoiLinkComponent';
import ExampleLink from "./components/ExampleLink.vue";
import LinkStyleTitle from "./components/LinkStyleTitle.vue";

const pageTitle = 'Why \'blah blah blah\' is the best test data title'
const metaData = {
  publication: 'Journal of Metadata Perfection',
  published: '21 Mar 2024',
  authors: 'Minerva da Housecat',
  doi: 'https://doi.org/10.32013/12345678-23',
  title: pageTitle,
};
const resources = [
  {
    logo: 'crossref',
    url: '',
    altText: '',
    displayText: 'No changes'
  }
]
const doiData = ref(null);

const { doiLinkComponent } = useDoiLinkComponent();

const loadDoiData = async () => {
  doiData.value = await useDoiData(metaData.doi);
};

loadDoiData();
</script>

<template>
  <PageLayout :title="pageTitle">
    <template #pageTitle>Accessibility options for DOI links</template>
    <Explanation><h4>Choose a DOI link display style:</h4></Explanation>
    <DOILinkStyleSelector/>
    <ExampleLink :doi="metaData.doi" :display-text="metaData.title"></ExampleLink>
    <ResourceContainer :resources="doiData.value.resources" v-if="false"></ResourceContainer>
    <Description></Description>
    <ExampleHtml></ExampleHtml>
    <MetaData v-bind="metaData"></MetaData>

  </PageLayout>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
.mt-1 {
  margin-top: 1em
}
</style>
